/* 
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);


section.board-container {
    margin-top: 1.5em;
    float: left;
    width: 60%;
}

section.right-words-container {
    width: 20%;
    height: auto;
    float: left;
}

section.wrong-words-container {
    width: 20%;
    height: auto;
    float: left;
}

div.selected {
    background-color: #1864F0;
    color: #fff;
}

#error-msg {
    text-align: center;
    color: #BF3F3F;
}

.total {
    display: inline-block;
    margin-bottom: 10px;
    padding: 8px;
    color: #fff;
    background: #7FBF3F;
    border-radius: 3px;
}

input.word {
    width: 67%;
    text-align: center;
    margin-top: 15px;
    border: 1px solid blue;
    font-size: 1.5em;
    border: none;
    border-bottom: 1px solid #1e1e1e;
    margin-bottom: 20px;
}

.btn-primary {
    padding: 0.5em 1em;
    margin: .5em 0 .5em .5em;
    line-height: 24px;
    cursor: pointer;
    border-radius: 25px;
    color: #fff;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
    background: #182ef0;
    background: -moz-linear-gradient(-45deg, #182ef0 0, #189af0 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #182ef0), color-stop(100%, #189af0));
    background: -webkit-linear-gradient(-45deg, #182ef0 0, #189af0 100%);
    background: -o-linear-gradient(-45deg, #182ef0 0, #189af0 100%);
    background: -ms-linear-gradient(-45deg, #182ef0 0, #189af0 100%);
    background: linear-gradient(135deg, #182ef0 0, #189af0 100%);
}

.btn-primary:hover {
    background: #0741A5;
}

.btn-secondary {
    padding: 0.5em 1em;
    margin: .5em;
    line-height: 24px;
    cursor: pointer;
    border-radius: 25px;
    color: #fff;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.302), 0 1px 3px 1px rgba(60, 64, 67, 0.149);
    background: #dc310e;
    background: -moz-linear-gradient(-45deg, #dc310e 0, #f58a51 100%);
    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #dc310e), color-stop(100%, #f58a51));
    background: -webkit-linear-gradient(-45deg, #dc310e 0, #f58a51 100%);
    background: -o-linear-gradient(-45deg, #dc310e 0, #f58a51 100%);
    background: -ms-linear-gradient(-45deg, #dc310e 0, #f58a51 100%);
    background: linear-gradient(135deg, #dc310e 0, #f58a51 100%);
}

.btn-secondary:hover {
    background: #BF3F3F;
}



body {
    font-family: 'Lato', sans-serif;
}

.row {
    width: 100%;
    clear: both;
}

.col {
    padding: .5em;
    float: left;

    text-align: center;
    line-height: 3em;
    font-size: 1.5em;

    width: 66px;
    height: 66px;
    margin: 1px;
    border-radius: 15px;
    border: 1px solid #ddd;
    cursor: pointer;
    box-shadow: inset -1px 0px 38px 5px rgba(0, 0, 0, 0.15);
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -ms-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
}


ul {
    padding-left: 0;
}

.words {
    text-align: center;
    border: 1px solid #ccc;
    padding: 1em;
    border-radius: 5px;
    background-color: #fcfcfc;
}

.right-words-container .words {
    margin: 2em 0 0 2.5em;
}

.wrong-words-container .words {
    margin: 2em 2.5em 0 0;
}

.words li {
    text-decoration: none;
    color: #fff;
    display: block;
    text-align: center;
    line-height: 2em;
    font-size: 1.2em;

    height: 40px;
    margin: 1px;
    border-radius: 5px;
    border: 1px solid #ddd;

    box-shadow: inset -1px 0px 38px 5px rgba(0, 0, 0, 0.15);
    transition: all 500ms;
    -webkit-transition: all 500ms;
    -ms-transition: all 500ms;
    -moz-transition: all 500ms;
    transition: all 500ms;
    
}

.words #right-list li {
    background-color: #7FBF3F;
}

.words #wrong-list li {
    background-color: #FFBF00;
}
.words #wrong-list li.not-board-word {
    background-color: #dc310e;
}

.clock-container {
    text-align: center;
}

#start-game,
#reset-turn {
    float: left;
}


#ponits {
    float: right;
    margin-top: .5em;
}

h1 {
    color: #396;
    font-weight: 100;
    font-size: 40px;
    margin: 40px 0px 20px;
}

#clockdiv {
    font-family: sans-serif;
    color: #fff;
    display: inline-block;
    font-weight: 100;
    text-align: center;
    font-size: 30px;
}

#clockdiv>div {
    padding: 10px;
    border-radius: 3px;
    display: inline-block;
    background: #3d7df2;
    box-shadow: inset -1px 0px 38px 5px rgba(0, 0, 0, 0.20);
}

#clockdiv div>span {
    padding: 15px;
    border-radius: 3px;
    background: #0a3d9c;
    display: inline-block;
}

.smalltext {
    padding-top: 5px;
    font-size: 16px;
} */
